<div class="container">
    <div *ngIf="isUserPresent; else userNotPresent">
        <!-- <div class="row">
        <div class="col-xs-12">
            <img src="{{ user.imageUrl }}" alt="{{ user.username }}" width="250px" height="280px">
        </div> -->
        <div class="row">
            <div class="col-xs-12">
                <h2>{{ user.username }}</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <h4>Gender</h4>
                <p>{{ user.gender }}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <h4>Contact Info</h4>
                <p>{{ user.email }}</p>
                <p>{{ user.address }}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <h4>Skill Proficiency</h4>
                <p>{{ user.skillLevel }}</p>
            </div>
        </div>
    </div>
    <ng-template #userNotPresent>
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger">
                    <h1>An error occured!</h1>
                    <p>The requested user doesn't exists...</p>
                </div>
            </div>
        </div>
    </ng-template>
</div>